<div class='container'>
  <div class='row'>

    <div class='col-md-3'><!--サイドバー-->
      <%= render 'layouts/sidebar' %>
    </div>

    <div class='col-md-9'><!--メインコンテンツ-->
      <h2 class="font-weight-bold">
        <i class="fa-solid fa-user-check fa-sm" ></i><%= @user.name %> さんがフォロー中のユーザー一覧
      </h2>
      <% if @users.exists? %>
        <%= render 'public/users/index', users: @users %>
      <% else %>
        <p>ユーザーはいません</p>
      <% end %>
    </div>

  </div>
</div>