<!--layouts/header-->
<div class="">
  <% if user_signed_in? %>
    <%= form_with url: search_path, method: :get, local: true do |f| %>
      <%= f.text_field :word,required: true, placeholder: "さがしてみよう!", class: "form-control form-control-sm" %>
      <!--検索内容をwordとしてアクションに送る-->
      <%= f.select :range, options_for_select([['Post'],['User']]), {}, class: "btn btn-outline-secondary btn-sm" %>
      <!--検索するモデルの選択-->
      <%= button_tag type: "submit", class: "btn btn-default" do %>
        <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #2F5E63;"></i>
      <% end %>
    <% end %>
  <% end %>
</div>